# Python cache

**pycache**/
*.pyc

# Virtual environment

venv/

# Environment variables

.env

# Jupyter

.ipynb_checkpoints/

# Local experiments

streamlitPractice.py
chatbot_RAG_Ui.py
chatbot_RAG.ipynb
